:root{
    --bs-offcanvas-width: 600px
}


body{
    height: 100vh;
    overflow: hidden;
}
.btn-w{
    background-color: white;
}
.img-nav{
    height: 50px;
}
.img-table{
    width: 50px;
}
.my-btn{
    border-color: gray;
}

main{
    height: 100vh;
    overflow: scroll;
    background-color: rgb(248, 249, 250) ;
}
.withe > * {
    color: white !important;
    background-color: white;
}
.no-wrap{
    flex-wrap: nowrap;
}
.sub-title{
    width: min-content;
}
.my-badge{
    width: min-content;
    height: min-content;
    background-color:  rgb(20, 89, 185) !important;
}
.box-add-person{
    gap: .5rem;
    align-items: center;
}
.add-student-text{
    width: min-content;
    height: min-content;
    white-space: nowrap;
}
.my-btn-add{
    width: min-content;
    height: min-content;

}
.my-btn-app{
    width: min-content;
    height: min-content;
}
.my-btn-app:focus ~ span.my-badge{
    display: inline;
}
.mega-container{
    display: flex;
    flex-direction: column;
}
.my-container-laterale{
    display: flex;
    width: calc((100% / 9));
    flex-direction: column;
    background-color: black;
}
.nav-link, .nav-link{
    color: white;
} 
.nav-link:focus, .nav-link:hover {
    color: white;
}
.prova{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
.my-nav-laterale{
    height: calc((100% - 58px));
}

.offcanvas.offcanvas-end{
    width: 600px;
}

.my-link-lat{
    border-radius: 0;
}
.my-link-lat:hover {
    color: black;
    background-color: white;
}

.box-check{
    margin-top: 1rem;
    margin-bottom: 1rem;
}